@import url('https://fonts.googleapis.com/css?family=Montserrat:900i&display=swap');

#darkness {
    position: absolute;
    background: radial-gradient(transparent,rgba(137, 225, 255, 0.5),rgba(255, 255, 255, 0.7));
	  width: 290%;
    height: 210%;
    border-radius: 50%;
    z-index: 7;
}

#right_sector h2 {
    font-family: 'Source+Sans+Pro', sans-serif;
    z-index: 5;
}


#right_sector h3 {
    transition: all .2s ease-in-out;
    transform: translate3d(20px, 0, 0);
    opacity: 0;
    z-index: 5;
    font-family: 'Open Sans', sans-serif;
}

#right_sector h3.active {
    transform: translate3d(0px, 0, 0);
    opacity: 1;
    z-index: 5;
    font-family: 'Open Sans', sans-serif;
}


* {
    box-sizing: border-box;
  }

#carousel{
  position: relative;
  z-index: 7;
}

.slides {
  display: none;

  z-index: 5;
}

.cursor {
  cursor: pointer;
  z-index: 5;
}

.slides img {
  position: absolute;
  width: 107%;
  height: 400px;
  margin-left: -3.2%;
  z-index: 5;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  z-index: 6;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  z-index: 6;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 6;
}

.numbertext {
  color: #f2f2f2;
  font-size: 16px;
  position: absolute;
  top: 0%;
  z-index: 5;
}

.caption-container {
  text-align: center;
  background-color: #222;
  margin-left: -3.4%;
  width: 107%;
  margin-top: 400px;
  color: white;
  z-index: 5;
}

#list_img {
  margin-left: -1.7%;
  width: 110%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  z-index: 5;
}

.column {
  float: left;
  width: 20%;
  z-index: 5;
}

.column img {
  width: 200px;
  height: 100px;
  z-index: 6;
}
    
.demo {
  opacity: 0.6;
  z-index: 5;
}
.active,
.demo:hover {
  opacity: 1;
  z-index: 5;
}

#header {
  background-color: #ffffff6d;
  position: fixed;
  padding: 1% 1% 2% 0%;
  top: 0%;
  width: 78%;
  margin-left: -3.5%;
  z-index: 9;
}

#header a {
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  padding: 2% 1%;
  text-decoration: none;
  font-size: 140%;
  line-height: 5px;
  z-index: 10;
  border-radius: 5px;
  -webkit-transition: color 1s, background-color 1s, font-size 1s, -webkit-transform .8s ease-in-out;
  -moz-transition: color 1s, background-color 1s, font-size 1s, -webkit-transform .8s ease-in-out;
  -o-transition: color 1s, background-color 1s, font-size 1s, -webkit-transform .8s ease-in-out;
  transition: color 1s, background-color 1s, font-size 1s, -webkit-transform .8s ease-in-out;
}

#header a:hover {
  background-color: rgba(0, 128, 255, 0.5) !important;
  color: rgba(170, 249, 255, 0.9) !important;
  z-index: 10 !important;
  font-size: 110% !important;
}


#header a.logo {
  font-size: 175%;
  margin-left: 2%;
  margin-right: 5%;
  color: rgba(0, 89, 109, 0.7);
  font-family: 'Montserrat', sans-serif;
  z-index: 10;
}

#header a.logo > img {
  margin-left: 0%;
  margin-right: auto;
  margin-top: -6%;
  width: 100px;
  z-index: 10;
}

#header a.logo > span {
  vertical-align: text-top;
  z-index: 10;
}

#header a.logo:hover {
  background-color: rgba(200, 200, 200, 0.5);
  color: rgba(243, 57, 0, 0.5);
  z-index: 10;
  font-size: 145% !important;
}

#sector_r {
  padding: 1%;
  float: left;
  z-index: 10;
}

#sector_r a {
  padding: 10px 10px;
  z-index: 10;
}

footer > img {
  width: 105%;
  margin-left: -4.75%;
  z-index: 10;
}
